body {
  padding: 20px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(107, 137, 171);
}

a {
  color: #00B7FF;
}
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 10px;
}
