<%- include('../partials/header') %>
<label>Concert Halls:</label>
<select name="performances" id="Halls">
<option value="Walt Disney Concert Hall">Walt Disney Concert Hall</option>
<option value="Hollywood Bowl">Hollywood Bowl</option>
<option value="The Roxy">The Roxy</option>
<option value="El Rey Theatre">El Rey Theatre</option>
<option value="Greek Theatre">Greek Theatre</option>
</select>

<%- include('../partials/footer') %>