<%- include('../partials/header') %>
<form action="/performances" method="POST">
 
<label>Performances:</label>
<select name="title" id="performances">
<option value="Mozart Violin Concerto no.1">Mozart Violin Concerto no.1</option>
<option value="Brahms Violin Concerto">Brahms Violin Concerto</option>
<option value="Four Seasons Vivaldi">Four Seasons Vivaldi</option>
<option value="Mendelsson Violin Concerto">Mendelsson Violin Concerto</option>
<option value="Sibelius Violin Concerto">Sibelius Violin Concerto</option>
</select>
<br>
<label>Concert Halls:</label>
<select name="concertHall" id="Halls">
<option value="Walt Disney Concert Hall">Walt Disney Concert Hall</option>
<option value="Hollywood Bowl">Hollywood Bowl</option>
<option value="The Roxy">The Roxy</option>
<option value="El Rey Theatre">El Rey Theatre</option>
<option value="Greek Theatre">Greek Theatre</option>
</select>
<br>
<label>Soloists:</label>
<select name="soloist" id="Soloists">
<option value="Maxim Vengerov">Maxim Vengerov</option>
<option value="Hilary Hahn">Hilary Hahn</option>
<option value="Isaac Perlman">Isaac Perlman</option>
<option value="Gil Shaham">Gil Shaham</option>
<option value="Pinchas Zukerman">Pinchas Zukerman</option>
</select>
<br>
<label>Available Dates:</label>
<select name="performanceDate" id="Dates">
<option value="09-21-2024">09-21-2024</option>
<option value="03-14-2023">03-14-2023</option>
<option value="12-10-2023">12-10-2023</option>
<option value="8-10-2024">8-10-2024</option>
<option value="12-23-2024">12-23-2024</option>
</select>
<br>
<button type="submit" >Buy Ticket</button>
 </form> 
<!-- <form action="/performances" method="POST">
    <label for="performances">Performances:</label>
    <select name="performance" id="performances">
      <option value="Mozart Violin Concerto no.1">Mozart Violin Concerto no.1</option>
      <option value="Brahms Violin Concerto">Brahms Violin Concerto</option>
      <option value="Four Seasons Vivaldi">Four Seasons Vivaldi</option>
      <option value="Mendelsson Violin Concerto">Mendelsson Violin Concerto</option>
      <option value="Sibelius Violin Concerto">Sibelius Violin Concerto</option>
    </select>
    <br>
  
    <label for="concertHalls">Concert Halls:</label>
    <select name="concertHall" id="concertHalls">
      <option value="Walt Disney Concert Hall">Walt Disney Concert Hall</option>
      <option value="Hollywood Bowl">Hollywood Bowl</option>
      <option value="The Roxy">The Roxy</option>
      <option value="El Rey Theatre">El Rey Theatre</option>
      <option value="Greek Theatre">Greek Theatre</option>
    </select>
    <br>
  
    <label for="soloists">Soloists:</label>
    <select name="soloist" id="soloists">
      <option value="Maxim Vengerov">Maxim Vengerov</option>
      <option value="Hilary Hahn">Hilary Hahn</option>
      <option value="Isaac Perlman">Isaac Perlman</option>
      <option value="Gil Shaham">Gil Shaham</option>
      <option value="Pinchas Zukerman">Pinchas Zukerman</option>
    </select>
    <br>
  
    <label for="dates">Available Dates:</label>
    <select name="date" id="dates">
      <option value="09-21-2024">09-21-2024</option>
      <option value="03-14-2023">03-14-2023</option>
      <option value="12-10-2023">12-10-2023</option>
      <option value="8-10-2024">8-10-2024</option>
      <option value="12-23-2024">12-23-2024</option>
    </select>
    <br>
  
    <button type="submit">Buy Ticket</button>
  </form> -->
  
<%- include('../partials/footer') %>